body {
  background-color: var(--pico-color-amber-50);
  min-height: 100vh;
}

.section-nav {
  background-color: var(--pico-color-amber-750);
}

nav ul {
  color: white;
}

nav ul a {
  color: var(--pico-color-amber-150);
}

nav img {
  height: 50px;
  width: auto;
  border-radius: 100%;
}

[role=button],
[type=button],
[type=file]::file-selector-button,
[type=reset],
[type=submit],
button {
  background-color: var(--pico-color-green-500);
  border-color:  var(--pico-color-amber-50);
}