body {
  background-color: var(--pico-background-color);
  min-height: 100vh;
}

nav details.dropdown {
  margin: 0;
}

img.profile-picture {
  height: 50px;
  width: auto;
  border-radius: 100%;
}

img.home-image {
  border-radius: var(--pico-border-radius);
}

ul.flashes {
  margin-bottom: 0;
}

/* [role=button],
[type=button],
[type=file]::file-selector-button,
[type=reset],
[type=submit],
button {
  background-color: var(--pico-color-green-500);
  border-color:  var(--pico-color-amber-50);
} */

@media only screen and (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    --pico-background-color: var(--pico-color-sand-50);

    .section-nav {
      background-color: var(--pico-primary-background);
    }

    nav ul {
      color: var(--pico-primary-inverse);
    }

    nav ul a {
      color: var(--pico-primary-inverse);
    }

    details ul {
      background-color: var(--pico-secondary);
    }

    details ul li a:hover,
    details ul li a:active,
    details ul li a:focus,
    details ul li a:focus-visible {
      background-color: var(--pico-primary-background);
    }
  }
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    .section-nav {
      background-color: var(--pico-background-color);
    }

    nav ul {
      color: var(--pico-primary-inverse);
    }

    nav ul a {
      color: var(--pico-primary-inverse);
    }
  }
}

@media screen and (max-width: 399px) {
  .desktop-menu {
    display: none;
  }
  
  #mobile-menu {
    display: inline-block;
  }
}

@media screen and (min-width: 400px) {
  .desktop-menu {
    display: inline-block;
  }
  
  #mobile-menu {
    display: none;
  }
}
