body {
  background-color: var(--pico-background-color);
  min-height: 100vh;
}


img.profile-picture {
  height: 50px;
  width: auto;
  border-radius: 100%;
}

/* [role=button],
[type=button],
[type=file]::file-selector-button,
[type=reset],
[type=submit],
button {
  background-color: var(--pico-color-green-500);
  border-color:  var(--pico-color-amber-50);
} */

@media only screen and (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    --pico-background-color: var(--pico-color-sand-50);

    .section-nav {
      background-color: var(--pico-primary-background);
    }

    nav ul {
      color: var(--pico-primary-inverse);
    }

    nav ul a {
      color: var(--pico-primary-inverse);
    }
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {

    .section-nav {
      background-color: var(--pico-background-color);
    }
  
    
    nav ul {
      color: var(--pico-primary-inverse);
    }
  
    nav ul a {
      color: var(--pico-primary-inverse);
    }
}