{% extends "base.html" %}

{% block content %}
<hgroup>
    <h1>Shopping List</h1>
    <p>Coordinate what you want to buy for others.</p>
</hgroup>
{% if items %}
{% for item in items %}
<article>
    <h2>{% if item.item_url %}<a href="{{ item.item_url }}" target="_blank">{% endif %}{{ item.item_name }}{% if item.item_url %}</a>{% endif %}</h2>
    <p><strong>For:</strong> {{ item.user.name }}</p>
    <p><strong>Price:</strong> {{ item.price_range.capitalize() }}</p>
    <p><strong>Notes:</strong> {{ item.notes }}</p>
    <p><strong>Status:</strong> {{ "Bought" if item.bought else "Available" }}</p>
    {% if item.bought %}
    <form action="{{ url_for('wishlist.mark_available', item_id=item.id) }}" method="POST">
        <input type="submit" value="Mark as Available" onclick="return confirm('Are you sure you want to mark this item as available?');">
    </form>
    {% else %}
    <form action="{{ url_for('wishlist.mark_bought', item_id=item.id) }}" method="POST">
        <input type="submit" value="Mark as Bought" onclick="return confirm('Are you sure you want to mark this item as bought?');">
    </form>
    {% endif %}
    <a href="{{ url_for('wishlist.item_comments', item_id=item.id) }}">Comments</a>
</article>
{% endfor %}
{% else %}
    <p>No public items available in the shopping list.</p>
{% endif %}
{% endblock %}
