{% extends "base.html" %}

{% block content %}
<h2>Your Wish List</h2>
{% if items %}
{% for item in items %}
<article>
    <h2><a href="{{ item.item_url }}" target="_blank">{{ item.item_name }}</a></h2>
    <p><strong>Price:</strong> {{ item.price_range.capitalize() }}</p>
    <p><strong>Notes:</strong> {{ item.notes }}</p>
    <div class="grid">
        <form method="GET" action="{{ url_for('wishlist.edit_wishlist_item', item_id=item.id) }}" style="display: inline-block;">
            <input type="submit" value="Edit" class="secondary">
        </form>
        <form method="POST" action="{{ url_for('wishlist.remove_wishlist_item', item_id=item.id) }}" style="display: inline-block;">
            <input type="submit" value="Remove" onclick="return confirm('Are you sure you want to remove this item?');" class="outline secondary">
        </form>
    </div>
        <!-- <a href="{{ url_for('wishlist.edit_wishlist_item', item_id=item.id) }}">Edit</a> -->
        
</article>
{% endfor %}
{% else %}
    <p>Your wish list is empty.</p>
{% endif %}
<a href="{{ url_for('wishlist.add_wishlist_item') }}" role="button">Add New Item</a>
{% endblock %}
