{% extends "base.html" %}

{% block content %}
<hgroup>
  <h1>Wish List</h1>
  <p>Add gifts you want to your list.</p>
</hgroup>
{% if items %}
{% for item in items %}
<article>
    <h2><a href="{{ item.item_url }}" target="_blank">{{ item.item_name }}</a></h2>
    <p><strong>Price:</strong> {{ item.price_range.capitalize() }}</p>
    <p><strong>Notes:</strong> {{ item.notes }}</p>
    <p><a href="{{ url_for('wishlist.edit_wishlist_item', item_id=item.id) }}">Edit</a> <a href="{{ url_for('wishlist.remove_wishlist_item', item_id=item.id) }}" onclick="return confirm('Are you sure you want to remove this item?');">Remove</a></p>
</article>
{% endfor %}
{% else %}
    <p>Your wish list is empty.</p>
{% endif %}
<a href="{{ url_for('wishlist.add_wishlist_item') }}" role="button">Add New Item</a>
{% endblock %}
